@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');

body, html {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}

* {
    box-sizing: border-box;
    font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, button {
    text-align: center;
    outline: none;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

input:placeholder-shown {
    font-style: italic;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5e61626b;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4749494b;
}

.backgroundImage {
    background-image: url("img/background.png");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    outline: none;
    overflow: visible;
    text-align: center;
    top: 60px;
    z-index: 10;
    background-color: rgba(68, 68, 68, 0.5);
    display: grid;
    place-items: center;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#teamBuilder {
    float: left;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    display: none;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.bigButton {
    float: left;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    border: none;
    border-radius: 20px;
}

.smallButton {
    float: left;
    width: 25%;
    height: 50px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    border: none;
    border-radius: 20px;
    align-content: center;
}

.miniButton {
    display: block;
    width: 10%;
    height: 50px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    border: none;
    border-radius: 20px;
    align-content: center;
}

.globalChat {
    border-radius: 20px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    opacity: 0.5;
    width: 100%;
    padding: 2%; 
    display: flex; 
    flex-direction: column; 
    height: 90%;
    overflow: scroll;
}

#tanks, #moves {
    max-width: 50px;
    max-height: 50px;
    height: max-content;
    list-style: none;
}

.allTanks {
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    opacity: 0.5;
    width: 100%;
    height: 80%;
    flex-direction: column; 
    overflow: scroll;
}

.tankInfo {
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    opacity: 0.5;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.trainerInfo {
    font-size: 18px;
    padding-left: 10px;
}

.li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 20px;
}

.name {
    padding-left: 20px;
}

#battle {
    background: linear-gradient(to bottom,  hsl(260.4651162790697,59.44700460829492%,72%),  hsl(260.4651162790697,59.44700460829492%,52%));
    border-color: hsl(260.4651162790697,59.44700460829492%,40%);
    color: white;
}

.col {
    float: left;
    margin: 10px;
}

.movname { width: 50px; }

/*
.tank-annihilator{width:34px;height:34px;background:url(tanks.png) 0 0}.tank-rocketeer{width:34px;height:34px;background:url(tanks.png) -34px 0}.tank-machinegun{width:34px;height:34px;background:url(tanks.png) 0 -34px}.tank-tritrapper{width:34px;height:34px;background:url(tanks.png) -34px -34px}.tank-gunnertrapper{width:34px;height:34px;background:url(tanks.png) -68px 0}.tank-autosmasher{width:34px;height:34px;background:url(tanks.png) -68px -34px}.tank-spike{width:34px;height:34px;background:url(tanks.png) 0 -68px}.tank-factory{width:34px;height:34px;background:url(tanks.png) -34px -68px}.tank-skimmer{width:34px;height:34px;background:url(tanks.png) -68px -68px}.tank-skimmerold{width:34px;height:34px;background:url(tanks.png) -68px -68px}.tank-overtrapper{width:34px;height:34px;background:url(tanks.png) -102px 0}.tank-gunner{width:34px;height:34px;background:url(tanks.png) -102px -34px}.tank-necromancer{width:34px;height:34px;background:url(tanks.png) -102px -68px}.tank-destroyer{width:34px;height:34px;background:url(tanks.png) 0 -102px}.tank-flankguard{width:34px;height:34px;background:url(tanks.png) -34px -102px}.tank-fighter{width:34px;height:34px;background:url(tanks.png) -68px -102px}.tank-octotank{width:34px;height:34px;background:url(tanks.png) -102px -102px}.tank-quadtank{width:34px;height:34px;background:url(tanks.png) -136px 0}.tank-triangle{width:34px;height:34px;background:url(tanks.png) -136px -34px}.tank-battleship{width:34px;height:34px;background:url(tanks.png) -136px -68px}.tank-spreadshot{width:34px;height:34px;background:url(tanks.png) -136px -102px}.tank-spreadshotold{width:34px;height:34px;background:url(tanks.png) -136px -102px}.tank-smasher{width:34px;height:34px;background:url(tanks.png) 0 -136px}.tank-autotrapper{width:34px;height:34px;background:url(tanks.png) -34px -136px}.tank-streamliner{width:34px;height:34px;background:url(tanks.png) -68px -136px}.tank-landmine{width:34px;height:34px;background:url(tanks.png) -102px -136px}.tank-auto5{width:34px;height:34px;background:url(tanks.png) -136px -136px}.tank-auto3{width:34px;height:34px;background:url(tanks.png) -170px 0}.tank-autogunner{width:34px;height:34px;background:url(tanks.png) -170px -34px}.tank-overseer{width:34px;height:34px;background:url(tanks.png) -170px -68px}.tank-hybrid{width:34px;height:34px;background:url(tanks.png) -170px -102px}.tank-tripletwin{width:34px;height:34px;background:url(tanks.png) -170px -136px}.tank-booster{width:34px;height:34px;background:url(tanks.png) 0 -170px}.tank-trapper{width:34px;height:34px;background:url(tanks.png) -34px -170px}.tank-hunter{width:34px;height:34px;background:url(tanks.png) -68px -170px}.tank-ranger{width:34px;height:34px;background:url(tanks.png) -102px -170px}.tank-manager{width:34px;height:34px;background:url(tanks.png) -136px -170px}.tank-predator{width:34px;height:34px;background:url(tanks.png) -170px -170px}.tank-megatrapper{width:34px;height:34px;background:url(tanks.png) -204px 0}.tank-overlord{width:34px;height:34px;background:url(tanks.png) -204px -34px}.tank-assassin{width:34px;height:34px;background:url(tanks.png) -204px -68px}.tank-stalker{width:34px;height:34px;background:url(tanks.png) -204px -102px}.tank-sniper{width:34px;height:34px;background:url(tanks.png) -204px -136px}.tank-sprayer{width:34px;height:34px;background:url(tanks.png) -204px -170px}.tank-twinflank{width:34px;height:34px;background:url(tanks.png) 0 -204px}.tank-pentashot{width:34px;height:34px;background:url(tanks.png) -34px -204px}.tank-pentashotold{width:34px;height:34px;background:url(tanks.png) -34px -204px}.tank-basictank{width:34px;height:34px;background:url(tanks.png) -68px -204px}.tank-tripleshot{width:34px;height:34px;background:url(tanks.png) -102px -204px}.tank-triplet{width:34px;height:34px;background:url(tanks.png) -136px -204px}.tank-twin{width:34px;height:34px;background:url(tanks.png) -170px -204px} 
*/