@import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');

body, html {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}

* {
    box-sizing: border-box;
    font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, button {
    text-align: center;
    outline: none;
    margin: 10px;
}

.backgroundImage {
    background-image: url("img/background.png");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.bigButton {
    float: left;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    border: none;
    border-radius: 20px;
}

.smallButton {
    float: left;
    width: 25%;
    height: 50px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    border: none;
    border-radius: 20px;
    align-content: center;
}

.globalChat {
    padding: 10%;
    border-radius: 20px;
    background: linear-gradient(to bottom,#edf2f8,#d7e3ec);
    opacity: 0.5;
    width: 100%;
    height: 90%;
}

.trainerInfo {
    font-size: 24px;
    padding: 10px;
}

#battle {
    background: linear-gradient(to bottom,  hsl(260.4651162790697,59.44700460829492%,72%),  hsl(260.4651162790697,59.44700460829492%,52%));
    border-color: hsl(260.4651162790697,59.44700460829492%,40%);
    color: white;
}